.footer {
    background-color: #3B2E41;
}

.footer h1 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 30px 0;
}

.information p {
    width: 90%;
    margin-left: 5%;
    color: #B0B0B0;
}

.information .information-center {
    margin-top: 30px;
    margin-bottom: 30px;
}