.header {
    min-height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .right {
    float: right;
}

.header .right ul {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

header .right ul li {
    display: inline-block;
    margin: 15px 15px;
    padding: 5px 15px;
    /* background-color: yellow; */
}

.header .right ul li a {
    text-decoration: none;
    font-size: 18px;
}
